@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-white" style="font-size:20px;" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
    </li>
    <li class="nav-item">
                            <a class="nav-link text-white" style="font-size:20px;" asp-area="" asp-controller="Recepcion" asp-action="Index">Recepcion</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link text-white" style="font-size:20px;" asp-area="" asp-controller="Resultado" asp-action="Index">Resultado</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link text-white" style="font-size:20px;" asp-area="" asp-controller="Spotify" asp-action="Index">Spotify</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" style="font-size:20px;" asp-area="" asp-controller="Muestras" asp-action="Index">Muestra</a>
                        </li>
}
</ul>
