@{
    ViewData["Title"] = "Home Page";
}
<div class="bg-success">
    <center>
    <h1>Bienvenido  a nuestro  Laboratorio</h1></center>
</div>    
<div class="row">
    <div class="col-sm" style="border-radius: 14px; border: 1px solid rgb(56, 175, 255); background-color: rgb(255, 255, 255); margin-right: 10px;  margin-left: 10px; margin-top: 20px; padding: 20px; border-style: dotted; border-size:1pt;">ORO
        <center><img src="https://cdn.forbes.com.mx/2018/08/oro-reuters.jpg" alt="" width="300" height="200" class="rounded-lg "></center>
            <p>El oro es un elemento químico cuyo número atómico es 79. Está ubicado en el grupo 11 de la tabla periódica. Es un metal precioso blando de color dorado.</p>
            <div>
            <button type="button" class="btn btn-success btn-sm btn-block">Preguntar</button>
            </div>
    </div>
    <div class="col-sm" style="border-radius: 14px; border: 1px solid rgb(56, 175, 255); background-color: rgb(255, 255, 255); margin-right: 10px;  margin-left: 10px; margin-top: 20px; padding: 20px; border-style: dotted; border-size:1pt;">plata
        <center><img src="https://www.infometales.com/wp-content/uploads/2019/11/Plata-Top-e1582224021407.jpg" alt="" width="300" height="200" class="rounded-lg "></center>
        <p>El oro es un elemento químico cuyo número atómico es 79. Está ubicado en el grupo 11 de la tabla periódica. Es un metal precioso blando de color dorado.</p>
            <div>
            <button type="button" class="btn btn-success btn-sm btn-block">Preguntar</button>
            </div>
    </div>
    <div class="col-sm" style="border-radius: 14px; border: 1px solid rgb(56, 175, 255); background-color: rgb(255, 255, 255); margin-right: 10px;  margin-left: 10px; margin-top: 20px; padding: 20px; border-style: dotted; border-size:1pt;">Plomo
        <center><img src="https://okdiario.com/img/2017/03/31/caracteristicas-del-plomo-2.jpg" alt="" width="300" height="200" class="rounded-lg "></center>
    <p>El oro es un elemento químico cuyo número atómico es 79. Está ubicado en el grupo 11 de la tabla periódica. Es un metal precioso blando de color dorado.</p>
            <div>
            <button type="button" class="btn btn-success btn-sm btn-block">Preguntar</button>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-sm" style="border-radius: 14px; border: 1px solid rgb(56, 175, 255); background-color: rgb(255, 255, 255); margin-right: 10px;  margin-left: 10px; margin-top: 20px; padding: 20px; border-style: dotted; border-size:1pt;">ORO
        <center><img src="https://cdn.forbes.com.mx/2018/08/oro-reuters.jpg" alt="" width="300" height="200" class="rounded-lg "></center>
            <p>El oro es un elemento químico cuyo número atómico es 79. Está ubicado en el grupo 11 de la tabla periódica. Es un metal precioso blando de color dorado.</p>
            <div>
            <button type="button" class="btn btn-success btn-sm btn-block">Preguntar</button>
            </div>
    </div>
    <div class="col-sm" style="border-radius: 14px; border: 1px solid rgb(56, 175, 255); background-color: rgb(255, 255, 255); margin-right: 10px;  margin-left: 10px; margin-top: 20px; padding: 20px; border-style: dotted; border-size:1pt;">plata
        <center><img src="https://www.infometales.com/wp-content/uploads/2019/11/Plata-Top-e1582224021407.jpg" alt="" width="300" height="200" class="rounded-lg "></center>
        <p>El oro es un elemento químico cuyo número atómico es 79. Está ubicado en el grupo 11 de la tabla periódica. Es un metal precioso blando de color dorado.</p>
            <div>
            <button type="button" class="btn btn-success btn-sm btn-block">Preguntar</button>
            </div>
    </div>
    <div class="col-sm" style="border-radius: 14px; border: 1px solid rgb(56, 175, 255); background-color: rgb(255, 255, 255); margin-right: 10px;  margin-left: 10px; margin-top: 20px; padding: 20px; border-style: dotted; border-size:1pt;">Plomo
        <center><img src="https://okdiario.com/img/2017/03/31/caracteristicas-del-plomo-2.jpg" alt="" width="300" height="200" class="rounded-lg "></center>
    <p>El oro es un elemento químico cuyo número atómico es 79. Está ubicado en el grupo 11 de la tabla periódica. Es un metal precioso blando de color dorado.</p>
            <div>
            <button type="button" class="btn btn-success btn-sm btn-block">Preguntar</button>
            </div>
    </div>
</div>
