@model MinerTrabajoFInal.Models.Cliente

@{
    ViewData["Title"] = "Clientes";
}

<div asp-validation-summary="All"></div>

<div class="text-center">
    <h1 class="display-4">Formulario Clientes</h1><br>

    <form  asp-controller="Cliente" asp-action="Crear">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group text-left">
            <label asp-for="razonsocial"></label>
            <input asp-for="razonsocial" > 
        </div><br>

        <div class="form-group text-left">
            <label asp-for="dni"></label>
            <input asp-for="dni" > 
        </div><br>

        <div class="form-group text-left">
            <label asp-for="direccion"></label>
            <input asp-for="direccion" > 
        </div><br>

        <div class="form-group text-left">
            <label asp-for="telefono"></label>
            <input asp-for="telefono" > 
        </div><br>
        
        <div class="form-group text-left">
            <label asp-for="correo"></label>
            <input asp-for="correo" > 
        </div><br>

        <div class="form-group">
            <button class="btn btn-primary">Enviar</button>
        </div><br>
    </form>

</div>