@model MinerTrabajoFInal.Models.Resultado
 
@{
    ViewData["Title"] = "Recepcion";
}
<div class="col-md-4">
    <h1 class="display-4">Lab Analisis</h1>
   		<header>Recepcion Muestra</header>
    </div>
<body>  
<form  asp-controller="Recepcion" asp-action="Registrar">
         
          <div> <p> Cliente: <input type="text" name="idcliente" size="30"></div>
          <div> <p>Numero de recepcion: <input type="text" name="numerorecpcion" size="10"><input id="submit" type="submit" value="Buscar"></p></div>
          
          <div><p>tipo de analisis:  <select name="tipo_analisis"> 
  <option value="AU"> Oro</option> 
  <option value="AG">Plata</option>
  <option value="CU">Cobre</option>
  <option value="PB">Plomo</option>
  <option value="ZN">Zinc</option>
</select></p></div>

          <div><p>Muestra: <input type="text" name="muestra" size="30"></p></div>
          <div><p>Precio: <input type="text" name="precio" size="30"></p> </div>
          <p>Cantidad: <input type="text" name="cantidad" size="30"></p>
  <button type="submit" class="btn btn-default">Registrar</button> 
  
</form>
</body>
</div>