@model MinerTrabajoFInal.Models.Resultado


 
@{
    ViewData["Title"] = "Recepcion";
}

<div class="col-md-4">
    <h1 class="display-4">Lab Analisis</h1>

   		<p><header>Recepcion Muestra</header></p>
    
<body>  
<form  asp-controller="Recepcion" asp-action="Registrar">
<div class="form-group">
                <label asp-for="idcliente" class="control-label"></label>
                <select asp-for="idcliente">
                <option value="1">Jorge  Antonio</option>
                <option value="2">Jaime Uribe</option>
                <option value="3">Roony  Condori</option>}
</select>
</div>
         
          <p>Numero de recepcion: <input type="text" name="numerorecpcion" size="10"></p>

          
  <option value="AU"> Oro</option> 
  <option value="AG">Plata</option>
  <option value="CU">Cobre</option>
  <option value="PB">Plomo</option>
  <option value="ZN">Zinc</option>
</select></div>

  <div class="form-group">
          Muestra: <input type="text" name="muestra" size="30">
          </div>

           <div class="form-group">
          Precio: <input type="text" name="precio" size="30">
          </div>

          <div class="form-group">
          Cantidad: <input type="text" name="cantidad" size="30">
          </div>

  <button type="submit" class="btn btn-default">Registrar</button> 
  
</form>
</body>
</div>