@model MinerTrabajoFInal.Models.Resultado

@{
    ViewData["Title"] = "Recepcion";
}
<div class="text-center">
    <h1 class="display-4">Lab Analisis</h1>
   		<p><header>Recepcion Muestra</header></p>
    
<body>   
<form  asp-controller="Recepcion" asp-action="Registrar">
        
          <center><p>Cliente: <input type="text" name="idcliente" size="30"></p>
          <p>Numero de recepcion: <input type="text" name="numerorecpcion" size="10"><input id="submit" type="submit" value="Buscar"></p>
          
          <p>tipo de analisis:  <select name="tipo_analisis"> 
  <option value="AU"> Oro</option> 
  <option value="AG">Plata</option>
  <option value="CU">Cobre</option>
  <option value="PB">Plomo</option>
  <option value="ZN">Zinc</option>
</select></p>
          <p>Muestra: <input type="text" name="muestra" size="30"></p>
          <p>Precio: <input type="text" name="precio" size="30"></p>
          <p>Cantidad: <input type="text" name="cantidad" size="30"></p></center>
  <button type="submit" class="btn btn-default">Registrar</button> 
  
</form>
</body>
</div>