@model MinerTrabajoFInal.Models.Resultado

@{
    ViewData["Title"] = "Recepcion de Muestra";
}

<div class="container">
    <div class="col-md-5">  
        <h3 >Recepcion de Muestra</h3>
        <form  asp-controller="Recepcion" asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idcliente" class="control-label"></label>
                <input asp-for="idcliente" class="form-control" />
                <span asp-validation-for="idcliente" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="numerorecpcion" class="control-label"></label>
                <input asp-for="numerorecpcion" class="form-control" />
                <span asp-validation-for="numerorecpcion" class="text-danger"></span>
            </div>
             
                   
            <div class="form-group">
                <label asp-for="tipo_analisis" class="control-label"></label>
                <select asp-for="tipo_analisis">
                <option value="AU"> Oro</option> 
  <option value="AG">Plata</option>
  <option value="CU">Cobre</option>
  <option value="PB">Plomo</option>
  <option value="ZN">Zinc</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="muestra" class="control-label"></label>
                <input asp-for="muestra" class="form-control" />
                <span asp-validation-for="muestra" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
               <label asp-for="cantidad" class="control-label"></label>
                <input asp-for="cantidad" class="form-control" />
                <span asp-validation-for="cantidad" class="text-danger"></span>
            </div>
                         

                       

            <div class="form-group">
                 <button type="submit" class="btn btn-success">Registrar</button> 
            </div>                

        </form>
            
         
    
    </div>
   
</div>
  <div class="card-body">
              <center><img src="https://www.espaciosdeoficina.es/var/espaciosdeoficina/storage/images/blog/ideas-para-decorar-la-recepcion-de-una-oficina/16833-28-esl-ES/Ideas-para-decorar-la-recepcion-de-una-oficina_w992_eo.jpg" alt="" width="300" height="200" class="rounded-lg "></center>
           
          </div>