<div class="text-center">
    <h1 class="display-4">Lab Analisis</h1>
   		<p><header>Recepcion Muestra</header></p>
   
<form id="form" class="topBefore">
        
          <center><p>Nombre y Apellidos: <input type="text" name="nombre" size="30"></p>
          <p>Numero de recepcion: <input type="text" name="recepcion" size="10"><input id="submit" type="submit" value="Buscar"></p>
          <p>Cliente: <input type="text" name="cliente" size="30"></p>
          <p>tipo de analisis:  <select name="tipo"> 
  <option>Oro</option> 
  <option>Plata</option>
  <option>Cobre</option>
  <option>Plomo</option>
  <option>Sinc</option>
</select></p>
          <p>Muestra: <input type="text" name="muestra" size="30"></p>
          <p>Precio: <input type="text" name="precio" size="30"></p>
          <p>Cantidad: <input type="text" name="cantidad" size="30"></p></center>
  <input id="submit" type="submit" value="GUARDAR">
  
</form>
</div>